<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Book</title>
</head>
<body>
    <h2>Danh sách những cuốn sách hay mà mình muốn giới thiệu đến các bạn</h2>
    <ol>    
        <li>The Bible  <a href="https://vi.wikipedia.org/wiki/Kinh_Th%C3%A1nh">Xem thêm</a></li>
        <li> Quotations from Chairman Mao Tse-tung (Little Red Book)  <a href="https://vi.wikipedia.org/wiki/Mao_ch%E1%BB%A7_t%E1%BB%8Bch_ng%E1%BB%AF_l%E1%BB%A5c">Xem thêm</a></li>
        <li> Quran Koran  <a href="https://vi.wikipedia.org/wiki/Qur%E2%80%99an">Xem thêm</a></li>
        <li> Xinhua Dictionary  <a href="https://vi.wikipedia.org/wiki/T%E1%BB%AB_%C4%91i%E1%BB%83n_T%C3%A2n_Hoa_X%C3%A3?action=edit&veswitched=1">Xem thêm</a></li>


    </ol>
    
    
</body>
</html>